* {
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
}

/* MOBILE FIRST*/

/* background */

#bg-pattern-m1{
    position: absolute;
    top: 0;
}

#bg-pattern-m2{
    position: absolute;
    bottom: 0;
}

.bg-pattern-d {
    display: none;
}

/* header */

.header {
    display: flex;
    flex-direction: column;
    padding: 70px 10px 30px;
    text-align: center;
}

header h1 {
    font-size: 40px;
    margin: 15px;
    color: hsl(300, 43%, 22%);
}

header p {
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    margin: 0 26px;
    color:hsl(303, 10%, 53%);
}

/* rate section */

.rate-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px 30px;
}

.star {
    margin: 0 2px 15px;
}

.rates {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(300, 24%, 96%);
    border-radius: 6px;
    width: 100%;
    margin-bottom: 10px;
    height: 75px;
    justify-content: center;
}

.rates p {
    font-weight: 700;
    color: hsl(300, 43%, 22%);
    font-size: 17px;
    letter-spacing: 1px;
}

/* feedbacks */

.feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(300, 43%, 22%);
    margin: 0 15px 15px;
    border-radius: 8px;
    padding: 30px;
}

.info-feedback {
    display: flex;
    width: 100%;
    justify-content:left;
    margin-bottom: 20px;
}

.feedback img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
}

.name, .comment {
    color: white;
    font-weight: 600;
    line-height: 20px;
}

.status {
    color: hsl(333, 80%, 67%);
    margin-top: 3px;
}

/* footer */

.attribution a {
  color: hsl(228, 45%, 44%);
}

.links {
    font-size: 11px;
    margin: 3px;
    text-align: center;
}

/* media screen 1440px*/

@media screen and (min-width: 1440px) {
    * {
        box-sizing: border-box;
    }

    .bg-pattern-m {
        display: none;
    }
    .bg-pattern-d{
        display: block;
    }
    #bg-pattern-d1 {
        position: absolute;
        top: 0;
    }
    #bg-pattern-d2 {
        position: absolute;
        bottom: 0;
        width: 800px;
        height: 600px;
    }

    body {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    main {
        width: 80%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #top-desktop {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
    }

    .header {
        text-align: left;
        width: 50%;
        padding: 0 150px 0 0;
        box-sizing: border-box;
    }
    
    header h1 {
        font-size: 50px;
        color: hsl(300, 43%, 22%);
    }
    
    header p {
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
        color:hsl(303, 10%, 53%);
        margin:15px;
    }

    .rate-container {
        width: 50%;
        gap: 15px;
    }

    .rates:nth-child(1) {
        align-self: flex-start;
    }

    .rates:nth-child(2) {
        align-self: center;
    }

    .rates:nth-child(3) {
        align-self: flex-end;
    }

    .rates {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: hsl(300, 24%, 96%);
        border-radius: 6px;
        width: 80%;
        margin-bottom: 10px;
        height: 60px;
        align-content: center;
        justify-content: space-evenly;
    }

    .rates p {
        margin-right: 30px;
    }


    .star {
        margin: auto auto;
    }

    .feedback-section {
        display: flex;
        height: 290px;
    }

    .feedback:nth-child(2) {
        align-self: center;
    }

    .feedback:nth-child(3) {
        align-self: flex-end;
    }

    .feedback {
        height: 230px;
        justify-content: space-evenly;
    }

    .attribution {
        position: absolute;
        bottom: 0;
        right: 40%;
        left: 40%;
    }

}